* {
  box-sizing: border-box;
  margin: 2px;
  padding: 0;
}
.con {
  border-radius: 20px;
  margin-top: 2rem;
  transform: translateX(25rem);
  width: 40rem;
  display: flex;
  height: 25rem;
  background-color: rgb(48, 46, 46);
}
div {
  padding: 40px;
  text-transform: capitalize;
  text-align: center;
  background-color: rgb(221, 225, 230);
  z-index: 1;
  border-radius: 30px;
  width: 10rem;
  height: 8rem;
  display: inline-block;
}
.box1:hover {
  transform: translateY(17rem);
  transition: all 5s;
}
.box2:hover {
  transform: translateX(19.5rem);
  transition: all 5s;
}
h3 {
  font-family: "Courier New", Courier, monospace;
  padding-left: 500px;
  padding-top: 100px;
}
